* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 5rem;
  color: #fff;
  -webkit-text-stroke: 2px black;
}

.container {
  display: flex;
  width: 90vw;
}

.photo {
  height: 80vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 3rem;
  margin: 0.5rem;
  cursor: pointer;
  flex-grow: 0.5;
  transition-duration: 800ms;
}

.photo h2 {
  font-size: 24px;
  position: absolute;
  bottom: 2rem;
  margin-left: 2rem;
  opacity: 0;
}

.photo.active {
  flex-grow: 5;
}

.photo.active h2 {
  color: #fff;
  opacity: 1;
}

#photo1 {
  background-image: url("https://images.unsplash.com/photo-1610375228550-d5cabc1d4090?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2667&q=80");
}

#photo2 {
  background-image: url("https://images.unsplash.com/photo-1591325418441-ff678baf78ef?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80");
}

#photo3 {
  background-image: url("https://images.unsplash.com/photo-1573455494060-c5595004fb6c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1140&q=80");
}

#photo4 {
  background-image: url("https://images.unsplash.com/photo-1608451993851-f5364e09027f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
}

#photo5 {
  background-image: url("https://images.unsplash.com/photo-1522383225653-ed111181a951?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80");
}
